.counter {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

.counter__h1 {
  color: rgb(16, 0, 54);
  font-size: 100px;
  font-family: Arial;
}

.counter__output {
  font-size: 100px;
  color: rgb(243, 8, 8);
}

.btn__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

.control__btn {
  font-size: 20px;
  padding: 20px 40px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.control__btn:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(16, 0, 54);
}

.reset {
  width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.reset:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}